/* ******** DEFAULT STYLES ********* */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
}

#body-wrapper {
    min-width: 320px;
    max-width: 1200px;
    background: #f7f7f7;
    margin: auto;
}

header {
    background: #f7f7f7;
    text-align: center;
    width: 100%;
}

h1 {
    padding: 1em;
}

h3 {
    background: white;
    padding: 10px;
    margin: 0 auto 6px;
    width: 92%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(105, 178, 226);
}

.profile {
    width: 65%;
    margin-top: 3em;
}

p {
    padding: 2em 1.5em;
    line-height: 1.4;
    font-weight: 200;
}

#main {
    text-align: center;
    background: white;
}

#main h3 {
    padding: 2.5em 0;
}

#main h2 {
    margin-top: 2em;
}

#main p {
    margin: auto;
}

.main-imgs {
    width: 90%;
}

aside {
    background-image: linear-gradient(gray, lightblue, rgba(30, 26, 241, 0));
    width: 50%;
    margin: auto;
}

footer, 
footer h3,
footer p {
    background: #f7f7f7;
    text-align: center;
}

footer h3 {
    padding-top: 3em;
}

hr {
    width: 87%;
    margin: auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2em auto;
    padding-bottom: 2em;
}

.footer-nav {
    display: none;
}

/* ********* MEDIA QUERIES ********* */

@media (min-width: 768px) {
    
    header {
        height: 60vh;
    }
    
    header h3 {
        background: none;
        display: inline;
        margin-right: 15px;
    }

    header p {
        width: 58%; 
        float: left;
        text-align: left;       
    }

    .profile {
        display: inline-block;
        width: 38%;
        height: 40%; 
        margin-right: 10px;
    }

    #main {
        padding-bottom: 2em;
    }

    #main h3 {
        background: rgb(253, 197, 197);  
    }

    #block-container {
        display: flex;
        flex-wrap: wrap;
        background: rgb(253, 197, 197);
    }
    
    .block {
        width: 50%;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .toTop {
        display: none;
    }

    .footer-nav {
        display: flex;
    }

    .footer-nav h4 {
        margin-right: 10px;
    }
    
}

@media (min-width: 1024px) {
       
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        margin-right: 8px;
    }

    header {
        height: 60vh;
    }
    
    .profile {
        display: inline-block;
        width: 38%;
        height: 40%; 
        margin-right: 10px;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    header h3 {
        background: none;
        display: inline-block;
        margin-right: 15px;
     }

    header p {
        width: 58%; 
        float: left;
        text-align: left;       
    }
       
    #main {
        width: 95%;
        margin: auto;
        padding-bottom: 2em;
    }

    #main h3 {
        background: rgb(102, 130, 172);
        color: white;
    }

    #block-container {
        display: flex;
        background: rgb(102, 130, 172);
    }

    #block-container p {
        color: white;
    }

    .block {
        width: 33%;
    }
    
    .toTop {
        display: none;
    }

    .footer-nav {
        display: flex;
    }

    .footer-nav h4 {
        margin-right: 10px;
    }

}