* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

#body-wrapper {
    min-width: 320px;
    max-width: 1200px;
    background: #f7f7f7;
    margin: auto;
}

header {
    background: #f7f7f7;
    text-align: center;
    width: 100%;
}

h1 {
    padding: 1em;
}

h3 {
    background: white;
    padding: 10px;
    margin: 0 auto 6px;
    width: 92%;
}

a {
    text-decoration: none;
    color: black;
}

.profile {
    width: 65%;
    margin-top: 3em;
}

p {
    padding: 2em 1.5em;
    line-height: 1.4;
    font-weight: 200;
}

#main {
    text-align: center;
    background: white;
}

#main h3 {
    padding: 2.5em 0;
}

#main h2 {
    margin-top: 40px;
}

#main p {
    margin: auto;
}

.main-imgs {
    width: 90%;
}

footer, 
footer h3,
footer p {
    background: #f7f7f7;
    text-align: center;
}

footer h3 {
    padding-top: 3em;
}

hr {
    width: 87%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2em auto;
    padding-bottom: 2em;
}

/* ********* MEDIA QUERIES ********* */

@media (min-width: 768px) and (max-width: 1023px) {
    
    header {
        height: 60vh;
    }
    
    header h3 {
        background: none;
        display: inline;
        margin-right: 15px;
    }

    header p {
        width: 58%; 
        float: left;
        text-align: left;       
    }

    .profile {
        display: inline-block;
        width: 38%;
        height: 40%; 
        margin-right: 10px;
    }

    #main {
        background: white;
    }
    
    .pair {
            display: flex;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    
}

@media (min-width: 1024px) {
       
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
    }

    header {
        height: 60vh;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    header h3 {
        background: none;
        display: inline-block;
        margin-right: 15px;
     }

    header p {
        width: 58%; 
        float: left;
        text-align: left;       
    }
    
    #main {
        background: white;
        width: 95%;
        margin: auto;
        padding-bottom: 2em;
    }

    #block-container {
        display: flex;
    }

    .profile {
        display: inline-block;
        width: 38%;
        height: 40%; 
        margin-right: 10px;
    }

}